@import url('http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body {
  background: #f9fafc;
}

.header {
  width: 100%;
}

.header-row {
  display: flex;
  justify-content: space-between;
  margin: 20px 137px 0 141px;
}

.logo {
  width: 138px;
  height: 36px;
}

.logo img {
  width: 100%;
}

.sign-up {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.28px;
  color: #222428;
}

.sign-up a {
  font-weight: 700;
  color: #062fb3;
  text-decoration: none;
}

.form {
  background: #ffffff;
  box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
  border-radius: 10px;
}

.login-form {
  width: 632px;
  height: 470px;
  margin: 178px auto;
}

.login-form__title {
  font-family: 'Exo 2';
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: #002396;
}

.login-form__content {
    width: 400px;
    height: 470px;
    margin: 72px 114px;
    display: inline-block;
} 

.login-form__title {
    margin-bottom: 48px;
}
