{% set title = 'Home' %}
{% extends 'base.html' %}
{% block content %}  

<main class="content">
    <ul>
    <li><a href="/pages/sign-in.html">Sign in 1.1</a></li>
    <li><a href="/pages/enter-email.html">Password recovery</a></li>
    <li><a href="/pages/almost-ready.html">Password recovery 2</a></li>
    <li><a href="/pages/resset-pass.html">Password recovery 3</a></li>
    <li><a href="/pages/sign-up.html">Sign up 1</a></li>
    <li><a href="/pages/complette-1.html">Complete 2</a></li>
    </ul>
</main>

{% endblock %}