<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/css/style.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
  </head>
  <body>
    <%- include('../partials/header.html'); %>
    <main class="content">
      <form action="#" class="form sm-form">
        <div class="sm-form__content">
          <div class="sm-form__title">Sign up</div>
          <input type="text" class="form__input form__input_sm" placeholder="Username" />
          <input type="text" class="form__input form__input_sm" placeholder="Username" />
          <input type="text" class="form__input" placeholder="Username" />
          <input type="text" class="form__input" placeholder="Email" />
          <button class="btn btn_todown">Get started</button>
        </div>
      </form>
    </main>
  </body>
</html>
