{% set question = 'Already have an account?' %}
{% set offer = 'Log In' %}
{% set title = 'Sign up' %}
{% extends 'base.html' %}
{% block content %}  

  <main class="content">
    <form action="#" class="form sm-form">
      <div class="sm-form__content">
        <div class="sm-form__title">Sign up</div>
        <input type="text" class="form__input form__input_sm" placeholder="First name" />
        <input type="text" class="form__input form__input_sm" placeholder="Last name" />
        <input type="text" class="form__input" placeholder="Username" />
        <input type="text" class="form__input" placeholder="Email" />
        <button class="btn btn_todown">Get started</button>
      </div>
    </form>
  </main>
</body>
</html>

{% endblock %}