<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    <%- include('./partials/header.html'); %>
    <main class="content">
    <ul>
        <li><a href="/pages/sign-in">Sign in</a></li>
        <li><a href="/pages/resset-pass">Resset password</a></li>
        <li><a href="/pages/enter-email">Enter email</a></li>
        <li><a href="/pages/almost-ready">Almost ready</a></li>    
        <li><a href="/pages/sign-up">Sign up</a></li>    
        <li><a href="/pages/complette-1">Complete 1</a></li>   
        <li><a href="/pages/complette-2">Complete 2</a></li>   
        <li><a href="/pages/complette-3">Complete 3</a></li>   
    </ul>
    </main>
</head>
<body>
    
</body>
</html>