* {
  box-sizing: border-box;
}

.m-0 {
  margin: 0 !important;
}

body {
  background: #f9fafc;
  font-family: Roboto;
}

.main-container {
  display: flex;
  min-height: 80vh;
}

.form {
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
  border-radius: 10px;
}

.form__input {
  height: 40px;
  width: 100%;
  padding: 11px 13px 13px;
  margin-bottom: 25px;
  background: #fcfcfc;
  border: 2px solid #f2f2f2;
  border-radius: 2px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #222428;
  &:focus {
    outline: none;
    border-left: 2px solid #2a74db;
  }
  &::placeholder {
    color: rgba(135, 144, 167, 0.57);
  }
}

.sm-form__content .form__input:last-of-type {
  margin-bottom: 0;
}

.form__input_sm {
  width: 190px;
}

.sm-form {
  width: 632px;
  padding: 72px 116px 80px;
}

.sm-form__title {
  width: 100%;
  font-family: 'Exo 2';
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  padding-bottom: 42px;
  color: #002396;
}

.sm-form__title_dark {
  color: rgba(1, 19, 78, 1);
}

.sm-form__content {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sm-form__pass-help {
  width: 100%;
  padding: 14px 0 15px;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  a {
    color: #222428;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color: #002396;
  }
}

.btn {
  width: 188px;
  height: 43px;
  margin-left: auto;
  border: none;
  background: #0ad69c;
  border-radius: 2px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.4px;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    background: #0aa87b;
  }
}

.btn_todown {
  margin-top: 40px;
}

.confirm {
  padding: 37px 0 23px;
  li {
    list-style-type: none;
    padding-bottom: 23px;
  }
  li:last-child {
    padding-bottom: 0;
  }
  ul {
    margin-left: 0;
    padding-left: 0;
  }
}

.confirm__lable {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.28px;
  a {
    font-weight: 500;
    text-decoration: none;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid #f2f2f2;
    border-radius: 2px;
  }

  input:checked ~ .checkmark {
    background-color: rgba(245, 247, 250, 0.5);
  }
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    left: 7px;
    top: 1px;
    width: 5px;
    height: 12px;
    border: solid #0ad69c;
    border-width: 0px 3px 3px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

[type='checkbox'] {
  vertical-align: middle;
}

.g-recaptcha {
  margin-bottom: -25px;
  transform: scale(0.692);
  transform-origin: 0;
  -webkit-transform: scale(0.692);
  transform: scale(0.692);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.pass-indicator {
  height: 6px;
  display: flex;
  width: 100%;
  justify-content: inherit;
  margin: 7px 0 22px;
  & span {
    flex-grow: 1;
    max-width: 32%;
    border-radius: 2px;
    background: #ebeff3;
  }
  & .pass-indicator__red {
    background: #FF6359;
  }
  & .pass-indicator__orange {
    background: #FFB966;;
  }
  & .pass-indicator__green {
    background: #38ECAC;
  }
}

//@import 'nullstyle';
@import 'sign-in';
@import 'header';
@import 'almost-ready';
